<!DOCTYPE html>
<html lang="en">
<head>
    <html xmlns="http://www.w3.org/1999/xhtml">

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://apis.google.com/js/api:client.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"
    ></script>

    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/logbox.css" /> -->
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/home.css"/>
    <title>For register</title>
    </head>

<body class="body">

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">HOME PAGE</a>
            <a class="navbar-brand" href="statics.html">STATICS</a>
            <a class="navbar-brand" href="/logbox">LOGIN</a>
            <a class="navbar-brand" href="/login">REGISTER</a>

        </div>
    </nav>
</header>

<div class="wrapper">
    <img
            src=https://www.yourdictionary.com/images/definitions/lg/4761.footprint.jpg
            alt="footprint"
    />
    <div class="a-container">
        <div class="A">
            <div class="a-inner">
            </div>
        </div>
    </div>
    <div class="loginbox">
        <img
                src="https://upload.wikimedia.org/wikipedia/commons/c/c4/2_parallel_footprints.JPG"
                class="footprint"
        />
        <h1>Login Here</h1>
        <form>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username"/>
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password"/>
            <input type="submit" name="" value="Login"/>
            <a href="login.html" class="Registerhere">Register here</a>
        </form>
    </div>
    <!--    <div class="thymeleaf"-->
    <!--         sec::authorize="!isAuthenticated()"-->
    <!--         th::replace="fragments/logbox.html :: logbox">-->
    <!--    </div>-->
    <!--    <div class="thymeleaf"-->
    <!--         sec::authorize="isAuthenticated()"-->
    <!--         th::replace="fragments/statics.html :: statics">-->
    <div id="gSignInWrapper">
        <span class="label">Sign in with:</span>
        <div id="customBtn" class="customGPlusSignIn">
            <span class="icon"></span>
            <span class="buttonText">Google</span>
            <!--            </div>-->
        </div>
        <div id="name"></div>
    </div>
</div>

</div>

<script>
      var name = "";
      var password = "";
      var data = { content: name, content1: password, done: false };
      //   $.post("localhost:8080/login", data, function() {
      //     loadData();
      //   });
      $.ajax({
        url: "http://localhost:8080/login",
        type: "POST",
        data: JSON.stringify(data), //this is serilizacija, server doesnt understand objects, have to send data to server as string
        contentType: "application/json;charset-utf-8",
        dataType: "json",
        success: function() {
          
          loadData();
        }
      });


</script>
<!-- google but -->
<script>
        startApp();


</script>
<script>
        var googleUser = {};
        var startApp = function() {
          gapi.load("auth2", function() {
            // Retrieve the singleton for the GoogleAuth library and set up the client.
            auth2 = gapi.auth2.init({
              client_id: "YOUR_CLIENT_ID.apps.googleusercontent.com",
              cookiepolicy: "single_host_origin"
              // Request scopes in addition to 'profile' and 'email'
              //scope: 'additional_scope'
            });
            attachSignin(document.getElementById("customBtn"));
          });
        };
  
        function attachSignin(element) {
          console.log(element.id);
          auth2.attachClickHandler(
            element,
            {},
            function(googleUser) {
              document.getElementById("name").innerText =
                "Signed in: " + googleUser.getBasicProfile().getName();
            },
            function(error) {
              alert(JSON.stringify(error, undefined, 2));
            }
          );
        }


</script>
</body>
</html>
</html>