<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Register</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/login.css" /> -->
    <link rel="stylesheet" type="text/css" href="../static/css/home.css" />
  </head>
  <body class="body">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">HOME PAGE</a>
          <a class="navbar-brand" href="statics.html">STATICS</a>
          <a class="navbar-brand" href="/logbox">LOGIN</a>
          <a class="navbar-brand" href="/login">REGISTER</a>
        </div>
      </nav>
    </header>
    <div class="wrapper">
        <img
        src=https://www.yourdictionary.com/images/definitions/lg/4761.footprint.jpg
        alt="footprint"
      />
      <div class="a-container">
        <div class="A">
          <div class="a-inner">
          
    <div class="simple-form">
      <!-- <form id="register" method="post" action="../forms/formdata.php"> -->
      <form class="needs-validation">
        <div class="form-row">
          <div class="col">
            <label for="username" class="user">Username</label>
            <input
              type="text"
              class="form-control"
              placeholder="Username:"
              required
            />
            <div class="invalid-tooltip">
              Please choose a unique and valid username.
            </div>
          </div>
        </div>
        <!-- <br />
        <br /> -->
        <!-- <div class="form-row">
          <div class="col">
            <label for="e-mail">E-mail</label>
            <input
              type="email"
              class="form-control"
              placeholder="Email: "
              required
            />
            <div class="invalid-tooltip">Please choose a valid E-mail.</div>
          </div>
        </div> -->
        <!-- <br /></br> -->
        <div class="form-row">
          <div class="col">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              name="password"
              placeholder="Password: "
              required
            />
            <div class="invalid-tooltip">
              Please choose a unique and valid password.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label for="repeat-password">Repeat password</label>
            <input
              type="password"
              id="confirm-password"
              class="form-control"
              name="confirm-password"
              placeholder="Repeat password: "
              required
            />
            <span id="message"></span>
          </div>
        </div>
        <!-- <br /><br />
          <label for="country">Country:</label><br />
          <select id="Country" name="country">
            <option> </option>
            <option>Latvia</option>
            <option>Estonia</option>
            <option>Denmark</option> </select
          ><br /><br />
          <input type="checkbox" id="terms" name="legal" />

          <label for="terms">Agree</label><br /><br /> -->

        <input id="but" type="submit" value="Register" />
      </form>
    </div>

  
    <hr />
  </div>
</div>
</div>
    <script>
      $("#password, #confirm-password").on("keyup", function() {
        if ($("#password").val() == $("#confirm-password").val()) {
          $("#message")
            .html("Matching")
            .css("color", "green");
        } else
          $("#message")
            .html("Not Matching")
            .css("color", "red");
      });

      var name = "";
      var password = "";
      var data = { content: name, content1: password, done: false };
      //   $.post("localhost:8080/login", data, function() {
      //     loadData();
      //   });
      $.ajax({
        url: "http://localhost:8080/login",
        type: "POST",
        data: JSON.stringify(data), //this is serilizacija, server doesnt understand objects, have to send data to server as string
        contentType: "application/json;charset-utf-8",
        dataType: "json",
        success: function() {
          loadData();
        }
      });

      // function onClick(data){

      // var usr= data;//1. Get data from username input
      // var pssw = data;//2. get data from passwrd

      // const data = {
      //     user:usr,
      //     passwrd:pssw
      // }

      // $("#user, #password).post("localhost:8080/login",data, onLoginResult());
      // }

      // function onLoginResult(data,status){
    </script>
  </body>
</html>
