<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"
    ></script>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/home.css"/>
    <title>Register</title>
</head>

<body class="body">
<div class="wrapper">
    <!-- <img
    src=https://www.yourdictionary.com/images/definitions/lg/4761.footprint.jpg
    alt="footprint" /> -->
    <div class="a-container">
        <header class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="/">HOME</a>
                    <a class="navbar-brand" href="/logbox">LOGIN</a>
                    <a class="navbar-brand" href="/register">REGISTER</a>
                </div>
            </nav>
        </header>
        <form id="reg" onsubmit="regUser(); return false;">
            <div class="loginbox">
                <h1>Register Here</h1>
                <form>
                    <input
                            id="user"
                            type="text"
                            name=""
                            class="form-control"
                            placeholder="Enter Username:"
                            required
                    />
                    <div class="invalid-tooltip">
                        Please choose a unique and valid username.
                    </div>
                    <input
                            type="password"
                            id="password"
                            class="form-control"
                            name=""
                            placeholder="Enter Password: "
                            required
                    />
                    <div class="invalid-tooltip">
                        Please choose a unique and valid password.
                    </div>
                    <div class="col">
                        <input
                                type="password"
                                id="confirm-password"
                                class="form-control"
                                name="confirm-password"
                                placeholder="Repeat password: "
                                required
                        />
                        <span id="message"></span>
                    </div>
                    <input id="register" type="submit" name="" value="Register"/>
                    <h5 id="loginMessage"></h5>
                </form>
            </div>
        </form>
    </div>
</div>

<script>

      $("#password, #confirm-password").on("keyup", function() {
        if ($("#password").val() == $("#confirm-password").val()) {
          $("#message")
            .html("Matching")
            .css("color", "green");
        } else
          $("#message")
            .html("Not Matching")
            .css("color", "red");
      });


        function regUser() {
        var name = $("#user").val();
        var password = $("#password").val();
        var data = { user: name, password: password };
        console.log(data);

        $.ajax({
          url: "http://localhost:8080/register",
          type: "POST",
          data: JSON.stringify(data),
          contentType: "application/json; charset-utf-8",

          success: function (response) {
            if(response.success){
               $("#loginMessage").text(response.message);
               navigate(response.forwardTo);
            } else {
              $("#loginMessage").text(response.message);
            } //if else end
          }, //success function end
        }); //ajax end
      }; //login function end

      function navigate(url){
        window.location.href = url;
      }



</script>
</body>
</html>
