<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" type="text/css" href="../static/css/home.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="./myChart.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <!-- <link rel="stylesheet" type="text/css" href="../static/css/logbox.css" /> -->
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <title>Exploring Chart.js</title>
  </head>
  <style>
    .container {
      width: 50%;
      height: 50%;
    }
  </style>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">HOME PAGE</a>
          <a class="navbar-brand" href="/statics">STATISTICS</a>
          <a class="navbar-brand" href="/logbox">LOGIN</a>
          <a class="navbar-brand" href="/login">REGISTER</a>
        </div>
      </nav>
    </header>
    <button id="renderBtn">
      Render
    </button>
    <div class="container">
      <canvas id="myChart"></canvas>
    </div>
    <script>
      function renderChart(data, labels) {
        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
          type: "line",
          data: {
            labels: labels,
            datasets: [
              {
                label: "This week",
                data: data
              }
            ]
          }
        });
      }

      $("#renderBtn").click(function() {
        $.ajax({
          url: "http://localhost:8080/statics", //contoller method from back
          type: "GET",
          dataType: "json",
          success: function(steps) {
            //mainigais ajaxam
            console.log(steps);
            renderChart(steps.steps, steps.days);
          }
        });
        // data = [];
        // labels = [
        //   "sunday",
        //   "monday",
        //   "tuesday",
        //   "wednesday",
        //   "thursday",
        //   "friday",
        //   "saturday"
        // ];
      });
    </script>
  </body>
</html>
